.head{
	margin-left: 45%;
	margin-right: 40%;
}

.action{
	margin-left: 10%;
	margin-left: 45%;
}
.body{
  width:1200px;
  height:640px;
  border:2px solid black;
  margin-left: 42;
  margin-right: 20;
  margin-top: 10;
  position: absolute;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  background: #fff; /* fallback for browsers that don't understand rgba */
  border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
  background-color: rgba(255,255,255,0.8);/* slighly transparent white */
  border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
	
}
.div1{
  width:250px;
  height:500px;
  margin-left: 20;
  margin-right: 20;
  margin-top: 10;
  position: absolute;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  box-shadow: 10px 10px 5px #888888;
  background: #fff; /* fallback for browsers that don't understand rgba */
  border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
  background-color: rgba(255,255,255,0.8);/* slighly transparent white */
  border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
}
.div2{
  width:800px;
  height:auto;
  border:5px solid brown;
  margin-left: 340;
  margin-right: 20;
  margin-top: 10;
  position: absolute;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  box-shadow: 10px 10px 5px #888888;
  background: #fff; /* fallback for browsers that don't understand rgba */
  border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
  background-color: rgba(255,255,255,0.8);/* slighly transparent white */
  border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
}
.tab{
	border-radius:25px;
}
